:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --text-color-blue: #2196f3;
  --text-color-button: #ffffff;
  --button-color: #f5f4fa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.list {
  list-style: none;
}

body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  background-color: var(--text-color-button);
  color: var(--title-text-color);
}

/* логтип */

.container {
  width: 1200px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}

.container.container-header {
  display: flex;
}

.container.img-container {
  margin-bottom: 94px;
}

.list.porfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.image-porfolio {
  flex-basis: calc((100% - 60px) / 3);
}

.header-border {
  border-bottom: 1px solid #ececec;
}

.logotype {
  color: var(--text-color-blue);
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-right: 93px;
  display: block;
}

.logotype-secondary {
  color: var(--title-text-color);
}

.list-header {
  display: inline-block;
  display: flex;
  align-items: center;
}

.list-header .list-pages:not(:last-child) {
  margin-right: 50px;
}

/* ссылки шапки */

.link-header {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link-header.active {
  color: var(--text-color-blue);
}

.link-header:hover,
.link-header:focus {
  color: var(--text-color-blue);
}

/* контакты шапки */

.header-items {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.header-items .list-pages:not(:last-child) {
  margin-right: 50px;
}

.contacts-header {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}

.contacts-header.accent:hover,
.contacts-header.accent:focus {
  color: var(--text-color-blue);
}

/* main */

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.section {
  padding: 94px 0;
}

.section-desissions {
  background-color: #2f303a;
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.section-desissions .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--text-color-button);
  margin-bottom: 30px;
}

.title-button {
  width: 200px;
  height: 50px;
  background-color: var(--text-color-blue);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  color: var(--text-color-button);
}

.title-button:hover,
.title-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}

.differences-list {
  display: flex;
}

.differences-item {
  min-height: 101px;
  width: 1200px;
  margin: 94px auto;
  padding-left: 15px;
  padding-right: 15px;
}

.differences-block {
  min-width: 270px;
}

.differences-block:not(:last-child) {
  margin-right: 30px;
}

.differences {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.differences-text {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.section.works .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.works {
  text-align: center;
  padding-top: 0;
}

.work-items {
  display: block;
}

.list-items:not(:last-child) {
  margin-right: 30px;
}

.works-img {
  display: flex;
}

.team-interests {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

/* наша команда */

.list.team-cards {
  display: flex;
  justify-content: center;
}

.team-photo:not(:last-child) {
  margin-right: 30px;
}

.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* кнопки */

.buttons-potfolio {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.nav-button {
  background-color: var(--button-color);
  color: var(--title-text-color);
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0;
  display: block;
  padding: 0;
  padding: 6px 22px;
  border-radius: 4px;
}

.buttons-potfolio .list-nav-buttons:not(:last-child) {
  margin-right: 8px;
}

.nav-button:hover {
  background-color: var(--text-color-blue);
  color: var(--text-color-button);
}

.nav-button:focus {
  background-color: var(--text-color-blue);
  color: var(--text-color-button);
}

.section-team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-team {
  background-color: var(--button-color);
}

.section-ourteam {
  text-align: center;
  width: 1200px;
  padding: 94px 15px;
  margin: 0 auto;
}

.team-photo {
  background: var(--text-color-button);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: none;
}

.team-name {
  display: block;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 10px;
}

.team-job {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-text-color);
}

/* картинки */

.image {
  box-sizing: border-box;
  background: var(--text-color-button);
}

.img-info-porfolio {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.image .image-header {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.image .image-text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
}

/* footer */

.log-footer {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.list .list-footer-info:not(:last-child) {
  margin-bottom: 9px;
}

.footer {
  background-color: #2f303a;
  padding: 60px 0;
}

.logotype-secondary.footer {
  color: var(--text-color-button);
}

.contacts-footer.address {
  color: var(--text-color-button);
}

.contacts-footer.accent {
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.contacts-footer.accent:hover,
.contacts-footer.accent:focus {
  color: var(--text-color-blue);
}

.contacts-footer {
  text-decoration: none;
}

.footer-address {
  font-family: inherit;
  font-style: normal;
}
